<form>
	<div class="mb-3">
		<label for="감독" class="form-label">감독</label>
		<input type="text" class="form-control" id="감독">
	</div>
	<div class="mb-3">
	  <label for="제작사" class="form-label">제작사</label>
	  <input type="text" class="form-control" id="제작사">
	</div>
	<div class="mb-3">
		<label for="수입사" class="form-label">수입사</label>
		<input type="text" class="form-control" id="수입사">
	</div>	
	<div class="mb-3">
	  <label for="배급사" class="form-label">배급사</label>
	  <input type="text" class="form-control" id="배급사">
	</div>
	<div class="mb-3">
		<label for="개봉일" class="form-label">개봉하는 달</label>
		<input type="text" class="form-control" id="개봉일">
	</div>	

	<div class="mb-3">
	  <label for="국적" class="form-label">국적</label>
	  <input type="text" class="form-control" id="국적">
	</div>
	<div class="mb-3">
		<label for="스크린수" class="form-label">스크린수</label>
		<input type="text" class="form-control" id="스크린수">
	</div>	
	<div class="mb-3">
		<label for="장르" class="form-label">장르</label>
		<input type="text" class="form-control" id="장르">
	</div>	
	<div class="mb-3">
		<label for="등급" class="form-label">등급</label>
		<input type="text" class="form-control" id="등급">
	</div>			    
	<button type="submit" class="btn btn-primary" value = "submit">Submit</button>
  </form>